---
title: ClojureScript Benchmarks
---

<div class="container">
  <h1>ClojureScript Benchmarks</h1>

  <h3>Quick Benchmarks</h3>
  <ul>
    <li>2016-06-20 on Mac OS X. <a href="">Graphs</a>, <a href="data/quick/20160610.csv">Data</a></li>
  </ul>
</div>
